.formulario {
	max-width: 400px;
	position: absolute;
	top: 25%;
	left: 35%;
	box-shadow: 5px 10px 8px rgb(136,136,136);
	padding: 20px;
	background: rgb(225,225,225);
}

.topo {
	height: 120px;
	background: rgba(255,69,0, 0.9);
	position: fixed;
	width: 100%;
	top: 0;
}

input {
	display: block;
	width: 350px;
	padding: 12px 20px;
	margin-bottom: 8px;
}

input[type=submit] {
	width: 100%;
}


span {
	font-size: 30px;
    cursor: pointer;
    margin-top: 35px;
}

.menu {
	position: fixed;
	top: 120px;
	left: 0;
	height: 100%;
	width: 0px;
	overflow-x: hidden;
	padding-top: 60px;
	background: black;
	transition: 1s;
	z-index: 1;
}

.menu a {
	text-decoration: none;
	font-size: 25px;
	color: rgb(129, 129, 129);
	display: block;
	padding: 8px 8px 8px 32px;
}

.menu a:hover {
	color: white;
}

.fechar {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


.pesquisa {
	float: right;
	padding: 12px;
	margin-right: 12px;
	margin-top: -40px;
	border: 1px solid rgb(242, 242, 242);
	border-radius: 5px;
}

h1{
    margin-top: 54px;
    margin-left: 20px;
    color: white;
}

select {
	width: 94%;
}


label {
	padding: 12px;
}

label:after {
	content: " *";
	color: red;
}

textarea {
	height: 200px;
}

input[type=submit] {
	background: rgb(0,255,0);
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
    margin-right: 50px;
    width: 130px;
}

input[type=reset] {
	background: rgb(255, 0, 0);
	color: white;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
    margin-left: 60px;
    width: 130px;
}


.fundo {
	border: solid;
	border-radius: 30px;
	padding: absolute;
	width: 800px; 
	font-size: 12pt;
	text-align: justify;
	font-family: arial;
	background: rgb(0,255,255);
	margin-top: 210px;
	margin-left: auto;
	margin-right: auto;
}

.Pc {
	width: 300px;
	height: 400px;
}

	
